body {
    background-color: #f8f9fa;
    color: black;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
  }
  
  .heading {
    margin-bottom: 20px;
  }
  
  .header_text {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .curr_time, .curr_errors, .curr_accuracy, .curr_cpm, .curr_wpm, .curr_level {
    font-size: 2rem;
  }
  
  .quote {
    font-size: 1.5rem;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input_area {
    height: 80px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0;
  }
  
  .incorrect_char {
    color: red;
    text-decoration: underline;
  }
  
  .correct_char {
    color: blue;
  }
  
  .restart_btn {
    display: none;
  }
  
  @keyframes timer-animation {
    0% { color: black; }
    100% { color: red; }
  }
  
  .timer.animating {
    animation: timer-animation 1s infinite;
  }
  